html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#mouseClickCoordinates {
  position: absolute;
  right: 0;
  margin: 10px;
}

#count {
  position: absolute;
  border: 1px solid orange;
  margin: 10px;
}

#score {
  position: absolute;
  right: 0;
  margin: 10px;
}

#gameoverElement {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid orange;
  top: 50%;

}

#canvas {
  position: absolute;
}

